.GroceryCard{
    width: 15%;
    height: 30%;
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}
.GroceryList{
    text-align: center;
    width: 50%;
    height: 30%;
    margin: 10% auto;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.GroceryList h2{
    font-size: 15px;
    color: #371B58;
}
