.HealthCard{
    display: flex;
    width: 40%;
    height: 40%;
    margin: 5% 0 10% 9%;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
}
/* .Charts{
    display: flex; 
    margin: 2% auto;
} */