.LineChartBox{
    width: 25%;
    height: 60%;
    margin: 15% 0 0 0;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}
.LineChartBoxTwo{
    width: 53%;
    height: 60%;
    margin: 5% 0 0 4%;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}